body {
    background-color: #FAE7C9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    margin: auto;
    
}

h1 {
    color: brown;
    text-align: center;
    background-image: url('gambar/kucing\ putih.jpg');
}

.satu {
    background-image: url('gambar/kucing putih.jpg');
    background-repeat: no-repeat;
}
p {
    color: brown;
    font-size: 20px;
}

hr {
    border: 2px solid;
}
a {
    text-decoration: none;
}
a:visited {

    background: transparent;
    color: red;
}

a:hover {
    color: black;
}

.dua {
    border-collapse: collapse;
    text-align: center;
    width: 20%;
}

.dua caption{
    font-weight: bold;
}

.dua col {
    background-color: pink;
}

th:nth-child(even), td:nth-child(even) {
    color: black;
    padding: 15px; 
}

.dua tr:hover {
    border-bottom: 1px solid black;
}

.tiga {
    border-collapse: collapse;
    text-align: center;
    width: 20%;
    
}

.tiga th, .tiga td {
    padding: 15px;
    border-style: solid;
    background-color: yellow;
    border-color: black;
    color: brown;
}

.tiga tr{
    border-bottom: 1px solid black;
}

.empat {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.empat li {
    float: left;
}

.empat li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.empat li a:hover {
    background-color: #111111;
}