body {
    background-color: #FAE7C9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    margin: auto;
}


h1 {
    color: brown;
    text-align: center;
    background-image: url('gambar/kucing\ putih.jpg');
    height: 50px;
}

p {
    color: brown;
    font-size: 20px;
}

.satu {
    background-image: url('gambar/kucing putih.jpg');
    background-repeat: no-repeat;
}

hr {
    border: 2px solid;
}
a {
    text-decoration: none;
}
a:visited {

    background: transparent;
    color: red;
}

a:hover {
    color: black;
}

.dua {
    border-collapse: collapse;
    text-align: center;
    width: 20%;
}

.dua caption{
    font-weight: bold;
}

.dua col {
    background-color: pink;
}

th:nth-child(even), td:nth-child(even) {
    color: black;
    padding: 15px; 
}

.dua tr:hover {
    border-bottom: 1px solid black;
}

.tiga {
    border-collapse: collapse;
    text-align: center;
    width: 20%;
    
}

.tiga th, .tiga td {
    padding: 15px;
    border-style: solid;
    background-color: yellow;
    border-color: black;
    color: brown;
}

.tiga tr{
    border-bottom: 1px solid black;
}

.empat {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.empat li {
    float: left;
}

.empat li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.empat li a:hover {
    background-color: #111111;
}

.lima {
    display: flex;
}

.lima > div {
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.lima > div:nth-child(1) {
    background-color: aqua;
}

.lima > div:nth-child(2) {
    background-color: brown;
}

.lima h1 {
    color: green;
    background-image: none;
    font-size: 3vw;
}

.lima p {
    color: orange;
    font-size: 2vw;
}

.grid-container {
    display: flex;
}

.grid-container > div {
    padding: 20px;
    border-radius: 8px;
}

.grid-container > div:nth-child(1) {
    background-color: blue;
}

.grid-container > div:nth-child(2) {
    background-color: grey;
}

.grid-container h2 {
    color: yellowgreen;
}

.grid-container p {
    color: black;
}

#C1 {
    color: purple;
}

iframe {
    width: 30%;
    height: 100px;
    border: 5px solid black;
    border-radius: 5px;
}

.enam {
    max-width: 100%;
    height: auto;
}

article{
    padding: 10px;
    margin: 10px;
}

.tujuh > h1{
    background-image: none;
    text-align: left;
    height: 0%;
    color: black;
}

.delapan{
    background-color: #e0e0e0;
    
}

.sembilan {
    background-color: #d0d0d0;
}

.sepuluh {
    background-color: #c0c0c0;
}

aside {
    width: 20%;
    margin-left: 15px;
    padding-left: 15px;
    float: right;
    background-color: grey;
}